[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
license = "AGPL-3.0-or-later"
publish = false

[dependencies]
anyhow = "1"
roxmltree = "0.21"
regex = "1"
copybook-core = { path = "../copybook-core" }
serde_plain = "1.0.2"
serde_json = "1.0"
